In [1]:
import numpy as np
import pandas as pd
from sklearn.cluster import MeanShift
import csv

In [2]:
data =pd.read_csv('checkins.dat', sep='|',
                 skipinitialspace = True)
data.dropna(inplace = True)

C:\Users\user\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data

,id,user_id,venue_id,latitude,longitude,created_at
2,984222,15824.0,5222.0,38.895112,-77.036366,2012-04-21 17:43:47
4,984234,44652.0,5222.0,33.800745,-84.410520,2012-04-21 17:43:43
8,984291,105054.0,5222.0,45.523452,-122.676207,2012-04-21 17:39:22
10,984318,2146539.0,5222.0,40.764462,-111.904565,2012-04-21 17:35:46
11,984232,93870.0,380645.0,33.448377,-112.074037,2012-04-21 17:38:18
12,984483,1030290.0,955969.0,32.221743,-110.926479,2012-04-21 17:58:54
13,984685,304253.0,23558.0,40.650000,-73.950000,2012-04-21 18:19:34
14,984470,720850.0,749715.0,33.448377,-112.074037,2012-04-21 17:02:47
16,984610,1639666.0,442605.0,33.414768,-111.909309,2012-04-21 18:04:58
19,984653,1647192.0,23558.0,42.358431,-71.059773,2012-04-21 18:23:22
20,984251,298547.0,77014.0,33.448377,-112.074037,2012-04-21 17:34:33
21,984528,2046311.0,15682.0,33.414768,-111.909309,2012-04-21 18:18:29
26,984438,2096701.0,4432.0,33.448377,-112.074037,2012-04-21 18:21:19
27,984277,1648816.0,18006.0,33.248664,-111.634299,2012-04-21 17:49:30
28,984320,349414.0,819.0,32.840678,-117.258794,2012-04-21 17:27:36
30,984359,1861538.0,819.0,34.052234,-118.243685,2012-04-21 17:18:22
35,984294,1447044.0,1135957.0,33.414768,-111.909309,2012-04-21 17:33:12
36,984336,2064557.0,111071.0,33.448377,-112.074037,2012-04-21 16:25:00
39,984527,1243334.0,989443.0,34.483901,-114.322455,2012-04-21 18:22:59
41,984326,2046338.0,989443.0,34.048928,-111.093731,2012-04-21 17:56:27
42,984454,2098254.0,610703.0,32.715329,-117.157255,2012-04-21 17:49:30
43,984395,1508584.0,410624.0,33.448377,-112.074037,2012-04-21 17:58:10
47,984231,1868751.0,21948.0,38.895112,-77.036366,2012-04-21 15:53:38
48,984322,1096457.0,10935.0,33.745851,-117.826166,2012-04-21 18:10:08
50,984474,2146888.0,10935.0,34.096111,-118.105833,2012-04-21 17:39:56
51,984355,966186.0,10935.0,34.052234,-118.243685,2012-04-21 18:03:47
53,984345,482032.0,10935.0,37.629349,-122.400087,2012-04-21 18:04:38
54,984508,2146895.0,10935.0,4.598056,-74.075833,2012-04-21 17:38:25
55,984381,28655.0,10935.0,33.804167,-118.158056,2012-04-21 17:59:40
56,984346,2098173.0,11195.0,40.735657,-74.172367,2012-04-21 18:17:31
...,...,...,...,...,...,...
1021886,936189,610763.0,7491.0,41.499495,-81.695409,2012-04-11 05:46:31
1021888,936836,610763.0,64.0,41.499495,-81.695409,2012-04-11 11:19:55
1021891,937236,287341.0,9310.0,30.267153,-97.743061,2012-04-11 13:04:51
1021896,938393,379311.0,11138.0,39.739154,-104.984703,2012-04-11 17:12:13
1021897,938627,503977.0,6562.0,28.538335,-81.379237,2012-04-11 18:09:54
1021899,938806,287341.0,12004.0,30.267153,-97.743061,2012-04-11 17:17:49
1021902,940180,1028835.0,16436.0,42.129224,-80.085059,2012-04-11 21:58:20
1021903,940219,373497.0,7489.0,40.715972,-74.001437,2012-04-11 22:14:12
1021913,943071,404031.0,1095987.0,33.448377,-112.074037,2012-04-12 09:25:48
1021916,943920,706143.0,4432.0,35.960638,-83.920739,2012-04-12 16:53:29
1021917,944155,872108.0,54467.0,33.103174,-96.670550,2012-04-12 19:06:15
1021919,944731,502383.0,23558.0,41.650111,-70.241131,2012-04-12 20:34:27
1021924,946195,354912.0,29137.0,39.867891,-75.131565,2012-04-12 20:34:29
1021926,946253,281860.0,29488.0,28.538335,-81.379237,2012-04-12 21:50:52
1021937,949275,872108.0,610705.0,33.103174,-96.670550,2012-04-13 00:55:03
1021940,949841,281860.0,9822.0,28.538335,-81.379237,2012-04-13 01:32:08
1021941,951412,919527.0,112490.0,47.606209,-122.332071,2012-04-13 01:29:20
1021944,952256,1028835.0,8595.0,42.129224,-80.085059,2012-04-13 02:42:32
1021948,953584,174305.0,916378.0,28.320007,-80.607551,2012-04-13 05:04:27
1021950,953695,146164.0,4202.0,30.267153,-97.743061,2012-04-13 03:33:53
1021953,954162,285893.0,42311.0,33.448377,-112.074037,2012-04-13 03:28:53
1021954,954283,709109.0,684720.0,33.448377,-112.074037,2012-04-13 06:26:18
1021955,954361,81625.0,5222.0,37.629349,-122.400087,2012-04-13 06:27:38
1021956,954428,626076.0,950644.0,40.850100,-73.866246,2012-04-13 06:29:25
1021958,954925,674797.0,7491.0,33.748995,-84.387982,2012-04-13 05:26:29
1021960,955561,626076.0,20073.0,40.850100,-73.866246,2012-04-13 09:56:48
1021961,955892,674797.0,2297.0,33.748995,-84.387982,2012-04-13 10:56:03
1021962,956377,845102.0,11195.0,42.765366,-71.467566,2012-04-13 12:08:45
1021963,956119,1139114.0,29488.0,42.439479,-83.743830,2012-04-13 11:36:44
1021965,956733,960666.0,60.0,42.331427,-83.045754,2012-04-13 21:56:19

In [4]:
clf = MeanShift(bandwidth = 0.1)

In [6]:
data_train = data[:100000]
data_train

,id,user_id,venue_id,latitude,longitude,created_at
2,984222,15824.0,5222.0,38.895112,-77.036366,2012-04-21 17:43:47
4,984234,44652.0,5222.0,33.800745,-84.410520,2012-04-21 17:43:43
8,984291,105054.0,5222.0,45.523452,-122.676207,2012-04-21 17:39:22
10,984318,2146539.0,5222.0,40.764462,-111.904565,2012-04-21 17:35:46
11,984232,93870.0,380645.0,33.448377,-112.074037,2012-04-21 17:38:18
12,984483,1030290.0,955969.0,32.221743,-110.926479,2012-04-21 17:58:54
13,984685,304253.0,23558.0,40.650000,-73.950000,2012-04-21 18:19:34
14,984470,720850.0,749715.0,33.448377,-112.074037,2012-04-21 17:02:47
16,984610,1639666.0,442605.0,33.414768,-111.909309,2012-04-21 18:04:58
19,984653,1647192.0,23558.0,42.358431,-71.059773,2012-04-21 18:23:22
20,984251,298547.0,77014.0,33.448377,-112.074037,2012-04-21 17:34:33
21,984528,2046311.0,15682.0,33.414768,-111.909309,2012-04-21 18:18:29
26,984438,2096701.0,4432.0,33.448377,-112.074037,2012-04-21 18:21:19
27,984277,1648816.0,18006.0,33.248664,-111.634299,2012-04-21 17:49:30
28,984320,349414.0,819.0,32.840678,-117.258794,2012-04-21 17:27:36
30,984359,1861538.0,819.0,34.052234,-118.243685,2012-04-21 17:18:22
35,984294,1447044.0,1135957.0,33.414768,-111.909309,2012-04-21 17:33:12
36,984336,2064557.0,111071.0,33.448377,-112.074037,2012-04-21 16:25:00
39,984527,1243334.0,989443.0,34.483901,-114.322455,2012-04-21 18:22:59
41,984326,2046338.0,989443.0,34.048928,-111.093731,2012-04-21 17:56:27
42,984454,2098254.0,610703.0,32.715329,-117.157255,2012-04-21 17:49:30
43,984395,1508584.0,410624.0,33.448377,-112.074037,2012-04-21 17:58:10
47,984231,1868751.0,21948.0,38.895112,-77.036366,2012-04-21 15:53:38
48,984322,1096457.0,10935.0,33.745851,-117.826166,2012-04-21 18:10:08
50,984474,2146888.0,10935.0,34.096111,-118.105833,2012-04-21 17:39:56
51,984355,966186.0,10935.0,34.052234,-118.243685,2012-04-21 18:03:47
53,984345,482032.0,10935.0,37.629349,-122.400087,2012-04-21 18:04:38
54,984508,2146895.0,10935.0,4.598056,-74.075833,2012-04-21 17:38:25
55,984381,28655.0,10935.0,33.804167,-118.158056,2012-04-21 17:59:40
56,984346,2098173.0,11195.0,40.735657,-74.172367,2012-04-21 18:17:31
...,...,...,...,...,...,...
233729,110062,381831.0,60.0,32.678109,-117.099197,2011-12-11 03:11:23
233731,110555,362865.0,65991.0,34.019454,-118.491191,2011-12-11 03:05:47
233732,110332,315873.0,69490.0,37.339386,-121.894955,2011-12-11 03:02:44
233733,110992,1142527.0,1259.0,40.650000,-73.950000,2011-12-11 01:52:34
233736,340873,496537.0,305934.0,43.009703,-85.520024,2011-12-25 16:52:18
233737,159959,73854.0,13909.0,34.746481,-92.289595,2011-12-12 02:20:45
233738,108686,1112432.0,10936.0,41.763711,-72.685093,2011-12-11 02:11:56
233739,112145,161610.0,38045.0,44.310000,-96.790000,2011-12-11 03:15:55
233740,112174,1293813.0,9310.0,35.221997,-101.831297,2011-12-11 02:43:50
233742,112424,359655.0,463797.0,40.740389,-73.983385,2011-12-11 03:33:37
233743,160168,141101.0,69425.0,33.641132,-117.918669,2011-12-12 00:46:43
233744,111620,84184.0,90472.0,40.715972,-74.001437,2011-12-11 03:07:28
233745,111626,7015.0,90472.0,41.033986,-73.762910,2011-12-11 02:43:32
233747,161285,542836.0,496614.0,27.937801,-82.285925,2011-12-12 00:05:50
233750,113263,313052.0,89618.0,36.087708,-86.648397,2011-12-11 03:38:17
233752,161321,391244.0,139919.0,26.203407,-98.230012,2011-12-12 01:49:06
233754,114439,47709.0,12253.0,40.740389,-73.983385,2011-12-11 03:59:58
233756,114986,239534.0,260697.0,40.768433,-73.525125,2011-12-11 02:00:37
233759,115167,302218.0,37627.0,42.866680,-88.333427,2011-12-11 01:53:32
233760,115777,7109.0,512744.0,40.704824,-73.650130,2011-12-11 02:36:50
233762,116447,204646.0,9687.0,43.652500,-79.381667,2011-12-11 03:20:31
233766,118079,88107.0,64883.0,42.372640,-71.109653,2011-12-11 04:41:35
233770,118667,610951.0,169556.0,35.994033,-78.898619,2011-12-11 03:47:27
233781,121724,400733.0,155793.0,29.762884,-95.383061,2011-12-11 04:25:34
233788,123847,30672.0,197167.0,41.878114,-87.629798,2011-12-11 07:35:57
233789,123888,1019078.0,1105563.0,33.575000,-117.725556,2011-12-11 05:38:19
233790,124366,771129.0,329847.0,37.629349,-122.400087,2011-12-11 04:55:34
233794,125556,804990.0,254046.0,29.762884,-95.383061,2011-12-11 06:54:20
233798,127250,526214.0,34473.0,32.802955,-96.769923,2011-12-11 10:05:38
233799,127284,290973.0,280656.0,37.774929,-122.419415,2011-12-11 08:24:40

In [7]:
data_train = data_train.rename(index=str, columns={"id    ": "id", 
                                                   "user_id ": "user_id",
                                                  "venue_id ": "venue_id",
                                                  "latitude      ": "latitude",
                                                  "longitude     ": "longitude",
                                                  "created_at      ": "created_at"})

In [8]:
data_train = data_train.drop(['created_at'], axis = 1)

In [9]:
data_train = data_train.drop(['id','user_id','venue_id'], axis = 1)

In [10]:
clf.fit(data_train)

MeanShift(bandwidth=0.1, bin_seeding=False, cluster_all=True, min_bin_freq=1,
     n_jobs=None, seeds=None)